body {
    font-family: 'Muli', sans-serif;
}

fieldset {
    display: flex;
    flex-direction: column;
}

.entryLog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}